.accept-update-button {
  background-color: green;
}
.reject-update-button {
  background-color: red;
}
.booking-card {
  font-size: 30px;
}
.already_accepted {
  color: green;
}
.already_rejected {
  color: red;
}
