
<div id="formContent" class="container">
<h1>booking table</h1>
  <div class="wrapper fadeInDown">
    <div class="form-inputs">
      <%= simple_form_for [ @product, @booking ] do |f| %>
        <%= f.input :start_date, as: :date %>
        <%= f.input :end_date, as: :date %>
        <div class="form-actions">
          <%= f.submit "Book Now", class: "btn btn-warning my-3" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
